/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    margin-left: 1em;
}
/* Fine Reset */

/* UTILITY  */
.f-white{
    color: white;
}

.f-lightgray{
    color: lightgray;
}

.f-darkgray{
    color: #4a4e57;
}

.f-small{
    font-size: small;
}

.f-xsmall{
    font-size: x-small;
}

.f-xxsmall{
    font-size: xx-small;
}

.bg-blue{
    background-color: #47adf1;
}

.bg-purple{
    background-color: #9c72e4;
}

.bg-lightgreen{
    background-color: #64c0a9;
}

.bg-yellowgreen{
    background-color: #b0c926;
}

.bg-orange{
    background-color: #f29e33;
}

.bg-pink{
    background-color: #d863a1;
}

.bshadow-lightgray{
    box-shadow: inset 0px 0px 0px 1.5px lightgray;
}
/* UTILITY */

body{
    font-family: sans-serif;
    background-color: #f6f8f9;
}

/* HEADER */

header{
    height: 60px;
    position: relative;
    background-color: white;
    padding-left: 20px;
}

#logo{
    height: 40px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

h1{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

/* MAIN */

.button-container{
    background-color: white;
    width: 75%;
    height: 50px;
    margin: 30px auto 0px;
    position: relative;
    padding-left: 40px;
}

.button-container div{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.button{
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}


.task-container{
    background-color: white;
    width: 75%;
    height: auto;
    margin: 2px auto 10px;
}

.task{
    padding: 0px 40px 20px;
}

section{
    padding: 30px 0px 0px;
}

section div{
    padding: 10px 0;
}

.check{
    color: #64c0a9;
    border: 1.5px solid #64c0a9;
    font-weight: bold;
    font-family: auto;
    padding: 1px 2px;
    border-radius: 50%;
    margin-right: 5px;
}

.cross{
    color: #f08a85;
    border: 1.5px solid #f08a85;
    font-weight: bold;
    font-family: auto;
    padding: 1px 2px;
    border-radius: 50%;
    margin-right: 5px;
}

.label{
    border-radius: 10px;
    padding: 5px 10px;
}