/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    margin-left: 1em;
}
/* Fine Reset */

/* UTILITY  */
.f-white{
    color: white;
}

.f-lightgray{
    color: lightgray;
}

.f-darkgray{
    color: #4a4e57;
}

.f-small{
    font-size: small;
}

.f-xsmall{
    font-size: x-small;
}

.bg-blue{
    background-color: #47adf1;
}

.border-lightgray{
    border: 1.5px solid lightgray;
}
/* UTILITY */

body{
    font-family: sans-serif;
    background-color: #f6f8f9;
}

header{
    height: 60px;
    position: relative;
    background-color: white;
    padding-left: 20px;
}

#logo{
    height: 40px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

h1{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.button-container{
    background-color: white;
    width: 75%;
    height: 50px;
    margin: 30px auto 0px;
    position: relative;
    padding-left: 40px;
}

.button-container div{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.button{
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}


.task-container{
    background-color: white;
    width: 75%;
    height: auto;
    margin: 2px auto 0px;
}

.task{
    padding: 0px 40px;
}

section h3{
    padding-top: 30px;
}

section div{
    padding: 10px 0;
}

.check{
    color: #64c0a9;
    border: 1.5px solid #64c0a9;
    font-weight: bold;
    font-family: auto;
    padding: 2px;
    border-radius: 50%;
}